.cell {
  position: relative;
}

.cell::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 1px var(--bg_visual_green);
  /* transition-duration: 100ms; */
  /* transition-property: background-color; */
  /* transition-timing-function: ease-out; */
}

.cell:hover::after {
  border-color: var(--red);
}

.alive::after {
  background-color: var(--green);
}
