.matrix {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1px;
  box-shadow: 0 0 var(--size-small) var(--size-small) var(--shadow-color);
  border: solid 1px var(--bg_visual_green);
  padding: 1px;
}
